#nav-backgroundcolor{
    background-color: white;
}

.content{
    padding:0px;
}

.nav-properties{
    max-width: 75px;
}

.nav-logo{
    height: 75px;
    width: 75px;
}

.nav-icon{
    font-size: 20pt;
}

.status-active{
    color:#378C53;
}

.status-inactive{
    color:#DADADA;
}